html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #111;
}

h1,
h2,
h3 {
    margin: 0;
    color: #202026;
}
h1 {
    font-size: 46px;
    font-weight: normal;
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}


*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    position: relative;
    background: #202026;
    align-items: center;
    text-transform: uppercase;
}
.header-photo {
    width: 30%;
    overflow: hidden;
    display: flex;
}
.header-photo > img {
    width: 100%;
}
.header-content {
    display: flex;
    height: 200px;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
}
.navigation {
    height: 20%;
    display: flex;
    align-items: center;
    background-color: #fecb00;
    font-size: 18px;
}
.navigation > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.navigation > ul > li {
    position: relative;
    margin-right: 20px;
}
.navigation > ul > li > a {
    text-decoration: none;
    color: #202026;
    font-weight: 600;
}
.navigation > ul > li::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    background-color: #202026;
    transition: 0.5s width ease-in-out;
}
.navigation > ul > li:hover::before {
    width: 100%;
}
.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 60%;
    background: #fecb00;
    padding-right: 20px;
}

.container {
    margin: 0 auto;
    width: 1000px;
    background: #202026;
}
.main-content {
    display: flex;
}
main {
    width: 70%;
    background: #fff;
    padding: 20px 30px;
    color: #202026;
}
.about > h2 {
    text-align: right;
    font-weight: 600;
}
.underline-black {
    width: 100%;
    height: 2px;
    background: #202026;
    margin: 0;
}
.main-info {
    font-size: 20px;
    text-align: justify;
    margin: 20px 0;
}

.strengths-list {
    font-size: 20px;
    text-align: justify;
    list-style-type: circle;
}
.strengths-list > li {
    margin: 0 0 8px 0;
}

.lang-list {
    list-style-type: circle;
    font-size: 20px;
}
.lang-list > li {
    margin: 0 0 8px 0;
}
.roadmap::before {
    content: "";
    display: block;
    width: 5px;
    height: 32px;
    position: absolute;
    left: -30px;
    top: -2px;
    background-color: #fecb00;
    transition: ease-in-out 0.5s all;
}
.roadmap:hover::before,
.roadmap:hover::after {
    width: 35%;
}
.roadmap {
    position: relative;
    text-align: center;
    margin: 10px 0;
}
.roadmap::after {
    content: "";
    display: block;
    width: 5px;
    height: 32px;
    position: absolute;
    right: -30px;
    top: -2px;
    background-color: #fecb00;
    transition: ease-in-out 0.5s all;
}
.roadmap > a {
    text-decoration: none;
    color: #202026;
    font-size: 20px;
    background-color: transparent;
}

.code > h2 {
    text-align: right;
    font-weight: 600;
    margin-top: 20px;
}
pre {
    font-size: 20px;
    margin: 20px 0;
}
.pre {
    margin: 0;
    display: flex;
    align-self: center;
    width: 100%;
}
.code {
    display: flex;
    flex-direction: column;
}
code {
    width: 100%;
    line-height: 22px;
    padding: 0;
    background: #fecb00;
}

.projects > h2 {
    font-weight: 600;
    text-align: right;
    margin-top: 20px;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.project-cv {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    width: 45%;
}
.project-cv > a {
    width: 100%;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #202026;
    border-radius: 0 0 20px 20px;
    text-align: justify;
    background-color: #fecb00;
    overflow: hidden;
}
.description {
    background: #fecb00;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
.description > h3 {
    text-align: center;
    padding-bottom: 5px;
}
.description-icons {
    display: flex;
    justify-content: center;
    background: #202026;
}

aside {
    width: 30%;
    display: flex;
    order: -1;
    background: #202026;
    flex-direction: column;
    padding: 20px 0 0 30px;
}
.education > h2 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.underline-yellow {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fecb00;
    margin-bottom: 20px;
}
.college {
    margin: 0;
    padding: 0;
    color: #fff;
}
.college-name {
    font-size: 22px;
    margin-bottom: 10px;
}
.college-description {
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 20px;
}


.cources > h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.pre-school {
    position: relative;
    margin-bottom: 20px;
}
.pre-school > a {
    display: block;
    text-decoration: none;
    color: #fecb00;
    font-size: 18px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}
.pre-school > a:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}
.pre-school > a::before {
    position: absolute;
    content: "";
    width: 5px;
    background: #fecb00;
    height: 40px;
    top: 2px;
    left: -30px;
    transition: ease-in-out 0.5s all;
}
.pre-school > a:hover::before {
    transition: ease-in-out 0.5s all;
    width: 13%;
    background: #fff;
}


.youtube > h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.channel {
    position: relative;
    margin-bottom: 10px;
}
.channel2 {
    margin-bottom: 20px;
}
.channel > a {
    display: block;
    text-decoration: none;
    color: #fecb00;
    padding-left: 15px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
.channel > a:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}
.channel > a::before {
    position: absolute;
    content: "";
    width: 5px;
    background: #fecb00;
    height: 18px;
    top: 2px;
    left: -30px;
    transition: 0.5s ease-in-out;
}
.channel > a:hover::before {
    transition: ease-in-out 0.5s all;
    width: 13%;
    background: #fff;
}


.apps > h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.sl {
    margin-bottom: 10px;
    position: relative;
}
.js {
    margin-bottom: 20px;
}
.sl > a {
    text-decoration: none;
    color: #fecb00;
    display: block;
    font-size: 18px;
    padding-left: 15px;
    transition: 0.5s ease-in-out;
}
.sl > a:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}
.sl > a::before {
    position: absolute;
    content: "";
    width: 5px;
    background: #fecb00;
    height: 18px;
    top: 2px;
    left: -30px;
    transition: 0.5s ease-in-out all;
}
.sl > a:hover::before {
    transition: ease-in-out 0.5s all;
    width: 13%;
    background: #fff;
}
.edu-info {
    margin-bottom: 55px;
}

.skills-header {
    color: #fff;
    font-weight: 600;
}
.skills-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.skills-list > li {
    color: #fecb00;
    padding-bottom: 15px;
}
.icon-html {
    background-image: url(assets/icons/html.svg);
    background-repeat: no-repeat;
}
.icon-css {
    background-image: url(assets/icons/css.svg);
    background-repeat: no-repeat;
}
.icon-js {
    background-image: url(assets/icons/javascript.svg);
    background-repeat: no-repeat;
}
.icon-git {
    background-image: url(assets/icons/github.svg);
    background-repeat: no-repeat;
}
.icon-figma {
    background-image: url(assets/icons/figma.svg);
    background-repeat: no-repeat;
}
.skill-item {
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-size: 30px;
}

.footer-container {
    display: flex;
}
.contacts {
    padding-left: 30px;
    width: 30%;
}
.contacts > h2 {
    color: #fff;
    font-weight: 600;
}
.cont-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cont-item {
    padding-left: 15px;
    color: #fecb00;
    font-size: 18px;
    margin-bottom: 5px;
}
.cont-item > a {
    position: relative;
    text-decoration: none;
    color: #fecb00;
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.5s ease-in-out;
}
.cont-item > a:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}
.cont-item > a::before {
    position: absolute;
    content: "";
    width: 5px;
    background: #fecb00;
    height: 18px;
    top: 2px;
    left: -45px;
    transition: 0.5s ease-in-out all;
}
.discord {
    position: relative;
}
.discord::before {
    position: absolute;
    content: "";
    width: 5px;
    background: #fecb00;
    height: 40px;
    top: 3px;
    left: -30px;
    transition: 0.5s ease-in-out all;
}
.discord:hover::before {
    transition: ease-in-out 0.5s all;
    width: 38px;
    background: #fff;
}
.cont-item > a:hover::before {
    transition: ease-in-out 0.5s all;
    width: 38px;
    background: #fff;
}
.footer-info {
    background-color: #fecb00;
    display: flex;
    width: 70%;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}
.footer-icon {
    display: flex;
    align-items: center;
}
.footer-icon > a {
    text-decoration: none;
}
.footer-icon > a > img {
    height: 120px;
}
.footer-date {
    font-size: 22px;
}
